<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Pro Caffe</title>
</head>
<body>
<nav id="navBar">
    <ul><li><a href="/index">Home</a></li>
        <li><a href="/shiftIncome">Total Shift Income</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</nav>    
<main>
    {% block content %}

    {% endblock %}
</main>
<footer>
   <h4> &copy; Pavle </h4>
</footer>
</body>
</html>